/* Mobile-first styles */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: white;
}

.fd {
    background-color: #262a3b !important;
    height: 60px;
    text-align: center;
}

.fd img {
    width: 8%;
    margin-top: 2%;
}

#container {
    max-width: 400px;
    /* Limit the width for larger screens */
    margin: 10px auto;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 10px;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    width: 90%;
    /* Adjust width as needed */
}

#input1,
#input2 {
    width: 100%;
    height: 30px;
    padding: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
    border: 0.5pt solid black;
    font-size: 13px;
}

.cen {
    text-align: center;
}

#button {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

#b1 {
    width: 100%;
    max-width: 200px;
    /* Limit the width for larger screens */
    font-weight: bold;
    font-size: 14px;
    height: 40px;
    justify-content: center;
    border-radius: 8px;
    border: 1px solid white;
    color: white;
    background-color: #FF0800;
    cursor: pointer;
}

.in {
    margin-bottom: 5px;
    padding: 0px;
    font-size: 15px;
}

#ifd {
    width: 100%;
}

#signup {
    display: block;
    margin-top: 0px;
    padding-bottom: 20px;
}

#forgot {
    display: block;
    margin-top: 10px;
    margin-bottom: 20px;
}

#p {
    display: block;
    margin: 3px;
}


#welcome {
    padding-top: 30px;
}

/* Hover effect for login button */
#button:hover {
    opacity: 0.9;
}

a {
    color: #0039a6;
}

/* Tablet and desktop styles */
@media screen and (min-width: 768px) {
    .fd img {
        width: 5%;
    }

    #container {
        width: 50%;
        max-width: 400px;
        /* Increase the max-width for larger screens */
        padding: 3%;
    }

    #b1 {
        max-width: 250px;
    }

    .google-sign-in {
        display: inline-block;
        background-color: #4285f4;
        color: #ffffff;
        text-decoration: none;
        padding: 10px 20px;
        border-radius: 5px;
        transition: background-color 0.2s ease;
    }

    /* Adjust the top margin for larger screens to center the container vertically */

}